.colorModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.colorModalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.palette {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, auto);
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.paletteWrapper {}

.paletteColor {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.paletteColor:hover {
    opacity: 0.8;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    .palette {
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width: 480px) {
    .palette {
        grid-template-columns: repeat(3, auto);
    }

    .paletteColor {
        width: 40px;
        height: 40px;
    }
}