.helpModalContainer {
    padding: 1rem;
}

.subjects {
    display: flex;
    gap: 1rem;
    margin: .75rem auto;
    justify-content: space-between;
    color: black;
}

.subject {
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    opacity: 25%;
    cursor: pointer;
    font-weight: 600;
    display: flex;


}

.subject:active {
    position: relative;
    top: 2px;
}

.subjectActive {
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #3eb4fdfd;
    color: #ffffff;
    cursor: pointer;
    transition: .4s;
    font-weight: 600;

}

.helpModalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.helpModalSubject {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    color: #000000;
}

.helpModalTitle {
    color: #0eb3ae;
    margin-bottom: .25rem;
}

.helpModalDescription {
    color: #525252;
    font-weight: 400;
    line-height: 1.4rem;
}

.emphasis {
    color: #000000;
    font-weight: 700;
}

.helpModalInstructions {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-left: .25rem;
}

.helpModalInstructions li::marker {
    color: #42464e82;
    font-weight: 700;
    font-size: 18px;
}

.step {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .helpModalContainer {
        padding: 1rem;
    }

    .subject {
        gap: .8rem;
    }

    .subjects {
        font-size: 14px;
        padding: 0;
        gap: .8rem;
    }
}

@media screen and (max-width: 480px) {
    .helpModalContainer {
        padding: 1rem;
    }

    .subjects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .helpModalTitle,
    .helpModalDescription {
        font-size: 16px;
    }

    .helpModalInstructions li::marker,
    .step {
        font-size: 16px;
    }
}